.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 8px 0;
}

.dateNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.list {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.saleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
