.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 8px 0;
}

.content {
  padding: 8px 16px 24px;
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 250px;
  overflow-y: auto;
}

.productCard {
  cursor: pointer;
  border-radius: 8px !important;
}
