.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 8px 8px 0;
}

.list {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  border-radius: 8px !important;
}
